<aside class="fixed flex flex-col top-0 px-5 start-0 bg-[#e3e6e5] dark:bg-gray-900 dark:border-gray-800 text-gray-900 h-screen transition-all duration-300 ease-in-out z-[999] border-e border-gray-200 w-[290px] translate-x-full xl:translate-x-0" [class.translate-x-0]="sideState" [class.translate-x-full]="!sideState">
  <div class="pt-8  pb-4 relative border-b-1 border-gray-500">
    <a class="flex items-center gap-3 cursor-pointer mb-3">
      <div class="image ">
        <img src="./imgs/logo.png" alt="Logo" class="w-[60px] h-[60px]">
      </div>
      <div class="tilte">
        <h4 class="text-[#003527] font-bold">وزارة المالية</h4>
        <p class="text-sm mb-0">المساعد الذكي للقرار</p>
      </div>
    </a>
      <button class="w-full rounded-sm py-3 fw-bold bg-[#003527] text-white cursor-pointer transition ease-in-out hover:bg-[#025e46] outline-2 outline-offset-2 outline-transparent focus:outline-[#025e46] active:bg-[#0f5543]"><i class="fi fi-br-plus me-1 "></i> محادثة جديدة </button>

  </div>
  <div class="flex justify-between flex-col h-dvh">
    <ul class="flex flex-col gap-1 pt-3">
      <li><a href="" class="menu-item group menu-item-inactive menu-item-active"><span class="menu-item-icon-size menu-item-icon-inactive"><i class="fi fi-br-comment-alt"></i></span><span class="menu-item-text">المحادثات الأخيرة</span></a></li>
      <li><a href="" class="menu-item group menu-item-inactive"><span class="menu-item-icon-size menu-item-icon-inactive"><i class="fi fi-br-document"></i></span><span class="menu-item-text">التقارير المالية</span></a></li>
      <li><a href="" class="menu-item group menu-item-inactive"><span class="menu-item-icon-size menu-item-icon-inactive"><i class="fi fi-br-analyse"></i></span><span class="menu-item-text">أدوات التحليل</span></a></li>
      <li><a href="" class="menu-item group menu-item-inactive"><span class="menu-item-icon-size menu-item-icon-inactive"><i class="fi fi-br-bank"></i></span><span class="menu-item-text">الميزانية العامة</span></a></li>
      <li><a href="" class="menu-item group menu-item-inactive "><span class="menu-item-icon-size menu-item-icon-inactive"><i class="fi fi-br-shield-check"></i></span><span class="menu-item-text">الأرشيف الآمن</span></a></li>
    </ul>
    <ul class="border-t-1 border-gray-500 mb-3 pt-3">
      <li><a href="" class="menu-item group menu-item-inactive"><span class="menu-item-icon-size menu-item-icon-inactive"><i class="fi fi-br-interrogation"></i></span><span class="menu-item-text"> الدعم الفني</span></a></li>
      <li><a href="" class="menu-item group menu-item-inactive text-red-500"><span class="menu-item-icon-size menu-item-icon-inactive text-red-500"><i class="fi fi-br-exit"></i></span><span class="menu-item-text"> تسجيل الخروج</span></a></li>

    </ul>
  </div>
</aside>
